.inner-footer{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;

	.foot-social{
		display: flex;
		flex-wrap: wrap;
		align-items:center;
		li{
			margin-right: 12px;
			&:last-child{
				margin-right: 0;
			}
		}
	}
}